mat-vertical-stepper {
    grid-column: 2;
}

section {
    padding: 1rem;
}

legend {
    font-weight: bold;
}

label {
    font-weight: normal;
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: black;
    animation: spinner 1s ease-in-out infinite;
}

